<div class="message" [class.isShow]="showPokemon">
  {{ getPokemon }}を保存しました。
</div>

<div class="grid" *ngIf="viewPokemon">
  <p class="pokemonNumber">全{{ viewPokemon.length }}匹</p>
  <ul *ngFor="let pokemon of viewPokemon">
    <ng-container *ngIf="viewPokemon.length">
      <li class="pokemonListName">
        <span class="pokemon-id">No.{{ pokemon.id }}</span>
        {{ pokemon.name.japanese }}
      </li>
      <li class="imgList" [style.background-color]="pokemon.type | colorTypes">
        <img
          routerLink="{{ pokemon.id }}"
          src="./assets/images/{{ pokemon.id | number : '3.0' }}.png"
          alt=""
        />
      </li>
      <li>攻撃：{{ pokemon.base.Attack }}</li>
    </ng-container>
  </ul>
</div>
