.initialModal {
  position: fixed;
  background: white;
  border-radius: 10px;
  padding: 5px;
  opacity: 0;
  width: 18%;
  height: 18%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

.initialModalInner {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.bgImage {
  width: 50%;
  height: 50%;
  background-image: url(../../../assets/ball/pokeball.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.initialModal p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.isShow {
  animation: dotted 1.5s infinite;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.button:hover {
  background: rgb(173, 38, 38);
  color: white;
}
@keyframes dotted {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
