.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pokemon {
  text-align: center;
  font-weight: bold;
  width: 50%;
  border-radius: 50px;
  padding: 20px;
  position: relative;
}
img {
  object-fit: contain;
}
.pokemon > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btnContainer {
  position: absolute;
  top: 10%;
  left: 5%;
}

button {
  cursor: pointer;
  background: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
