.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91.7vh;
}

.pokemon {
  text-align: center;
  font-weight: bold;
  width: 50%;
  border-radius: 50px;
  padding: 20px;
  position: relative;
}
img {
  object-fit: contain;
}
.pokemon > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.nameContainer p {
  margin: 0;
}
.btnContainer {
  position: absolute;
  top: 10%;
  left: 5%;
}

button {
  cursor: pointer;
  background: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
button:hover {
  background: #ccc;
}
.inputContainer {
  margin: 20px 0;
}
.inputContainer p {
  margin: 0;
  text-align: center;
}
input {
  height: 25px;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.save {
  display: block;
  width: 50%;
  padding: 10px 100px;
  margin-top: 20px;
}

.btnModal {
  position: absolute;
  width: 40%;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 10px;
  border: 2px solid black;
  opacity: 0;
  transition: 0.4s;
}
.isShow {
  opacity: 1;
  bottom: -15%;
}
.toggleButton {
  background: #ccc;
  pointer-events: none;
}
.inner {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  flex-flow: column;
}
.inner p {
  margin: 0;
  font-size: 14px;
}
.btnModalContainer button {
  width: 100px;
  padding: 5px;
  font-size: 12px;
  margin: 5px 5px;
}
.btnModalContainer button:nth-of-type(1) {
  background: black;
  color: white;
}
.btnModalContainer button:nth-of-type(2) {
  background: rgb(250, 24, 24);
}
.btnModalContainer button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .pokemon {
    width: 70%;
  }
  img {
    width: 60%;
  }
}
