<div class="container">
  <div
    *ngIf="pokemon"
    class="pokemon"
    [style.background-color]="pokemon.type | colorTypes"
  >
    <img src="./assets/images/{{ pokemon.id | number : '3.0' }}.png" alt="" />
    <div class="nameContainer">
      <p>名前：{{ pokemon.name.japanese }}</p>
      <p>{{ pokemon.type | types }}</p>
    </div>
    <div class="inputContainer">
      <div>
        <p>HP</p>
        <input
          type="text"
          [(ngModel)]="pawerText"
          [value]="pawerText"
          (keyup.enter)="isToggle()"
        />
      </div>
      <div>
        <p>攻撃</p>
        <input
          type="text"
          [(ngModel)]="attackText"
          (keyup.enter)="isToggle()"
        />
      </div>
      <div>
        <p>防御</p>
        <input
          type="text"
          [(ngModel)]="defenseText"
          [value]="pokemon.base.Defense"
          (keyup.enter)="isToggle()"
        />
      </div>
      <div>
        <p>スピード</p>
        <input
          type="text"
          [(ngModel)]="speedText"
          value="{{ pokemon.base.Speed }}"
          (keyup.enter)="isToggle()"
        />
      </div>
    </div>
    <div class="btnContainer">
      <button (click)="goBack()">戻る</button>
    </div>

    <div class="saveButton">
      <button class="save" [class.toggleButton]="isShow" (click)="isToggle()">
        保存
      </button>
    </div>
    <div class="btnModal" [class.isShow]="isShow">
      <div class="inner">
        <div>
          <p>内容を保存しますか？</p>
        </div>
        <div class="btnModalContainer">
          <button (click)="isToggle()">キャンセル</button>
          <button (keyup.enter)="saveButton()" (click)="saveButton()">
            保存する
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
