<div class="select-box" [class.isShow]="isShowURL">
  <div class="areaForm">
    <select>
      <option value="">地方で絞り込み</option>
      <option value="">カントー地方</option>
      <option value="">ジョウト地方</option>
      <option value="">ホウエン地方</option>
      <option value="">シンオウ地方</option>
      <option value="">イッシュ地方</option>
      <option value="">カロス地方</option>
      <option value="">アローラ地方</option>
    </select>
  </div>
  <div class="custom-select">
    <form action="">
      <select
        name="change"
        id="sortSelect"
        (change)="onSelect(sortSelect.value)"
        #sortSelect
      >
        <option [ngValue]="'HP'">HP</option>
        <option [ngValue]="'Attack'">攻撃</option>
        <option [ngValue]="'Defense'">防御</option>
        <option [ngValue]="'Speed'">スピード</option>
      </select>
      <input
        type="radio"
        id="option1"
        name="options"
        value="upButton"
        [(ngModel)]="selectRadio"
        checked
      />
      <label for="option1">高い順</label>
      <input
        type="radio"
        id="option2"
        name="options"
        value="downButton"
        [(ngModel)]="selectRadio"
      />
      <label for="option2">低い順</label>
      <button (click)="onClick()">並び替え</button>
    </form>
  </div>
</div>
