<form>
  <ng-container *ngIf="isShow">
    <p>見つかりませんでした。</p>
  </ng-container>

  <div class="search-box">
    <input
      (keyup.enter)="getPokemon(formText.value); formText.value = ''"
      type="text"
      #formText
      [(ngModel)]="inputText"
      placeholder="ポケモンを調べる"
      name="inputText"
    />
    <fa-icon
      class="icon"
      (click)="getPokemon(formText.value); formText.value = ''"
      [icon]="faSearch"
      routerLink="/"
      [ngStyle]="{ opacity: formText.value ? '1' : '0.5' }"
    ></fa-icon>
  </div>
</form>
